html {
  font-size: 16px;
}

body {
  margin: 0;
  line-height: 1.5rem;
}

main {
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

li {
  display: block;
}

@media (min-width: 360px) {
  ul {
    flex-direction: row;
  }

  li {
    margin: 0 5px;
  }
}
