html {
  font-size: 1rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.6rem;
  }
}

body {

}

footer {

}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  margin: 0.25rem 0.5rem;
}

.link__icon {
  margin-right: 0.25rem;
}

.link__anchor {
  color: var(--dark);
  text-decoration: underline;
}
